<!-- Sidebar -->
<div class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
  <div class="position-sticky pt-3">
    <div class="text-center mb-4">
      <h4 class="text-white">Admin Panel</h4>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/admin/dashboard">
          <i class="fas fa-tachometer-alt me-2"></i>Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/user_profile">
          <i class="fas fa-users me-2"></i>Users
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">
          <i class="fas fa-box me-2"></i>Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/reports">
          <i class="fas fa-chart-bar me-2"></i>Reports
        </a>
      </li>
      <li class="nav-item">
        <% if can? :manage, @user %>
        <%= button_to "Sidekiq", report_path, remote: true, class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-cog me-2"></i>
          <% if current_user %>
            <p>Admin: <%= current_user.admin? %></p>
            <%= button_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </a>
      </li>
    </ul>
  </div>
</div>
